<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<link rel="stylesheet" type="text/css" href="/common/common.css">
	<link rel="stylesheet" type="text/css" href="./[name].css">
	<script>
	//common_set
	const commonset_page_title = '[Name] | Native-ToyBox';
	const commonset_header_title = '[name]';
	const header_enable = true;
	</script>
	<script src="/common/common.js"></script>
</head>
<body>
	<set-header></set-header>
	<main>
		<div class="background">
			<p class="title">[Name]</p>
			<hr class="hr-default">
		</div>
	</main>
	<set-footer></set-footer>
	<script src="./[name].js"></script>
</body>
</html>